<!-- @if (paymentDetails) {
  <h2>Confirmar pago</h2>
  <p><strong>Usuario ID:</strong> {{ paymentDetails.user_id }}</p>
  <p><strong>Curso:</strong> {{ paymentDetails.course_name }}</p>
  <p><strong>Monto:</strong> {{ paymentDetails.amount }} USD</p>
  <p><strong>Fecha:</strong> {{ paymentDetails.payment_date }}</p>

  <button>Pagar ahora</button>
} @else if (errorMessage) {
  <p class="error">{{ errorMessage }}</p>
}
 -->


 <main class="payment-container">
  <a href="https://urbe.edu">
    <img src="/urbe-logo-with-bg.svg" alt="URBE LOGO"  class="logo">
  </a>

  <section>
    <span class="payment-info">
      <h2>Solicitud de Pago</h2>
      <h3>Monto: ${{paymentDetails?.amount}}</h3>
    </span>

    <div class="payment-content">
      <span class="separator"> </span>

      <h3>
        Seleccione el medio de pago
      </h3>

      <div class="payment-methods">
        <span class="payment-method paypal-method">
          <img src="/paypal.svg" alt="Paypal method ">
        </span>
        <span class=" payment-method zelle-method">
          <img src="/zelle.svg" alt="Zelle method">
        </span>
      </div>
    </div>
  </section>

</main>