:root {
  color-scheme: light dark;
  --var-background-color: #001E44
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body {

  font-family: "Inter";
  background-color: var(--var-background-color);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}